.files{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    &>button{
        font-size: 25px;
        background-color: #008cff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background-color: #0056b3;
        }
    }
}